{% macro stars(num) -%}
<style>
  .star {
    position: absolute;
    background-color: white !important;
    width: 1px;
    height: 1px;
  }
</style>
<script>
  function randomPosition() {
  	var rw = Math.floor(Math.random() * window.innerWidth);
  	var rh = Math.floor(Math.random() * window.innerHeight);
  	return [rw, rh];
  }

  function createStars() {
    document.querySelectorAll(".star").forEach(element => element.remove());
    for (let i = 0; i < {{ num }}; i++) {
      let star = document.createElement("div");
      star.className = "star";
      var [w, h] = randomPosition();
      star.style.top = h + "px";
      star.style.left = w + "px";
      document.body.append(star);
    }
  }
  createStars();
  window.onresize = createStars;
</script>
{%- endmacro %}
