* {
  color: white;
  background-color: transparent;
  font-family: monospace;
  font-size: 16px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
}

center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#title {
  font-size: 32px;
}

input, textarea {
  color: black;
}

