* {
  color: white;
  background-color: black;
  font-family: monospace;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  padding: 8px;
}

input, textarea {
  color: black;
}

center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
